<div id="jumbo" class="mb-4">
  <div class="container py-5 text-center">
    <h1 class="display-5 fw-bold">BITUIN</h1>
    <h6>While every star has its own light, every book has its own special life.</h6>
  </div>
  </div>