{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}{{ title }} Samantha's book reviews{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../img/{{ image }}" alt=""class="img-fluid">
        
      </div>
      <div class="col-sm-8 fluid">
        <h1>{{ title }}</h1>
        <h5>by {{ author }}</h5>
        {{ prose(review) }}
      </div>
    </div>
  </article>
{% endblock %}