<!doctype html>
<html lang="en">
  <!-- A Intro to Coding for Journalists class project -->
  <head>
    <title>BITUIN | {% block page_title %}{% endblock %}</title>
    <meta name="description" content="{% block page_description %}Default description{% endblock %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ relative_path }}css/main.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
  </head>
  

  <body>
    {% include "_includes/nav.njk" %}

    {% include "_includes/jumbotron.njk" %}

    {% block content %}{% endblock %}

    {% include "_includes/footer.njk" %}

    <script src="{{ relative_path }}js/jquery.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script src="{{ relative_path }}js/bootstrap.bundle.min.js"></script>
    <script src="{{ relative_path }}js/scripts.js"></script>
  
    <script>
      $(document).ready(function() {
        // Initialize DataTables
      $('.table').DataTable();
      });
    </script>

  </body>
</html>