{% extends '_templates/base.njk' %}

{% block page_title %}Welcome to Greatreads{% endblock %}

{% block content %}

This is a tester page to figure out the correct code for a carousel feature.

{% endblock %}