{% extends '_templates/base.njk' %}

{% block page_title %}Book Catalog{% endblock %}

{% block page_description %}A complete list of books I've read since coming to UT.{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container">         
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Book Title</th>
        <th>Author</th>
        <th>Rating</th>
        <th>Year Published</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in bookcatalog.catalog %}
      <tr>
        <td>{{ entry.title }}</td>
        <td>{{ entry.author }}</td>
        <td>{{ entry.rating }}</td>
        <td>{{ entry.year_published }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}