{% extends '_templates/base.njk' %}

{% block page_title %}Catalog Trial{% endblock %}

{% block page_description %}A complete list of books I've read since coming to UT.{% endblock %}

{% block content %}

{# adjust for responsive device width, scroll v. collapse option #}
{# put javascript code for datatables.net second in base.njk #}

<div class="container">         
  <table id="catalog" class="table table-hover">
    <thead>
      <tr>
        <th>Book Title</th>
        <th>Author</th>
        <th>Rating</th>
        <th>Year Published</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in bookcatalog.catalog %}
      <tr>
        <td>{{ entry.title }}</td>
        <td>{{ entry.author }}</td>
        <td>{{ entry.rating }}</td>
        <td>{{ entry.year_published }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}