{% extends '_templates/base.njk' %}

{% block page_title %}Welcome to Greatreads{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <h2 class="fw-bold">Welcome to Bituin Books</h2>
      <p>"Bituin," meaning "star" in Filipino, could be seen as the guide—a constellation that helps illuminate the crossroads of who you are and who you are becoming, one book, one life at a time. The idea becomes more than just reading; it becomes living. Each book is a life you take on, like an alternate dimension of yourself, each illuminating new ways to exist, think, and feel.</p>

      <h2>Book Reviews</h2>
      {% for entry in reviews.posts %}
          <div>
            <a href="blog/{{ entry.slug }}.html">
              <h3>{{ entry.title }}</h3>
            </a>
            <span><h6>{{ entry.author }}</h6></span>
          </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}