{% extends '_templates/base.njk' %}

{% block page_title %}Welcome to Greatreads{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Introduction to site</h1>
      <p>Paragraph: Introduction to site</p>
    </div>
  </div>
<div>

{% endblock %}