/* nav */
.navbar {
  background-color: #041f60;
}

.nav-link, .nav-item {
  a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(58, 63, 163);
  }
  
}

.navbar {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}