/* nav */

.navbar {
  background-color: rgb(215, 97, 97);

  a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(58, 63, 163);
  }
  
}

.navbar {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}